In [1]:
from collections import Counter

In [2]:
mylist = [1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,3,3,3]

In [3]:
Counter(mylist)

Counter({1: 9, 2: 7, 3: 3})

In [4]:
from collections import defaultdict

In [5]:
d = {'a':10}

In [6]:
d['a']

10

In [7]:
d['WRONG']

KeyError: 'WRONG'

In [8]:
d = defaultdict(lambda: 0)

In [9]:
d['correct'] = 100

In [10]:
d['WRONG KEY!']

0

In [11]:
d

defaultdict(<function __main__.<lambda>()>, {'correct': 100, 'WRONG KEY!': 0})

In [12]:
mytuple = (10,20,30)

In [13]:
mytuple[0]

10

In [14]:
from collections import namedtuple

In [15]:
Dog = namedtuple('Dog',['age','breed','name'])

In [16]:
sammy =  Dog(5,'Husky','Sam')

In [17]:
sammy

Dog(age=5, breed='Husky', name='Sam')